## Bengaluru House Price Prediction

#### By Siddharaj Maramwar

In [45]:
import pandas as pd

In [46]:
file_path = "C:/Users/Sddhraj/Downloads/Bengaluru_House_Data.csv"

In [47]:
home_data = pd.read_csv(file_path)

In [48]:
home_data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [49]:
home_data.shape

(13320, 9)

Drop missing value rows

In [50]:
home_data = home_data.dropna(axis=0)

In [51]:
home_data.shape

(7340, 9)

In [52]:
from sklearn.preprocessing import LabelEncoder

Use Label Encoder to convert stings to numberics

In [53]:
le = LabelEncoder()

In [54]:
home_data["area_type"].value_counts()

Super built-up  Area    5884
Built-up  Area          1147
Plot  Area               263
Carpet  Area              46
Name: area_type, dtype: int64

In [55]:
home_data["area_type"] = le.fit_transform(home_data["area_type"])

In [56]:
home_data["area_type"].value_counts()

3    5884
0    1147
2     263
1      46
Name: area_type, dtype: int64

In [57]:
home_data["location"].value_counts()

Whitefield                    381
Sarjapur  Road                304
Electronic City               236
Kanakpura Road                212
Thanisandra                   201
Yelahanka                     154
Hebbal                        148
Raja Rajeshwari Nagar         135
Hennur Road                   120
Electronic City Phase II      117
Bannerghatta Road             102
Uttarahalli                   102
7th Phase JP Nagar             98
Marathahalli                   98
Haralur Road                   90
Chandapura                     70
Hoodi                          67
Old Madras Road                63
Rajaji Nagar                   63
Begur Road                     62
Yeshwanthpur                   60
Bellandur                      59
Jakkur                         56
Electronics City Phase 1       55
Hosa Road                      55
Varthur                        53
Harlur                         52
Thigalarapalya                 51
Bisuvanahalli                  50
Budigere                       49
                             ...
B Channasandra                  1
 Rachenahalli                   1
Virudhu Nagar                   1
Adarsh Nagar                    1
Bande Nallasandra               1
Canara Bank Layout              1
Church Street                   1
Remco Bhel Layout               1
Nanjappa Garden                 1
Vikram Nagar                    1
Maheswari Nagar                 1
Kempapura                       1
 Banaswadi                      1
Doddabidrakallu                 1
Chikkabidarakallu               1
Jagadish Nagar                  1
Anantapuram                     1
Mango Garden Layout             1
Thirumalashettyhally            1
Thirupalya                      1
Varanasi                        1
Near International Airport      1
Upkar Layout                    1
Nagadevanahalli                 1
Prakruthi Nagar                 1
Malimakanapura                  1
Bethel Nagar                    1
Kacharakanahalli                1
Devarabeesana Halli             1
NR Colony                       1
Name: location, Length: 631, dtype: int64

In [58]:
home_data["location"] = le.fit_transform(home_data["location"])

In [59]:
home_data["location"].value_counts()

622    381
518    304
207    236
334    212
570    201
625    154
254    148
487    135
260    120
208    117
91     102
587    102
24      98
404     98
251     90
139     70
265     67
450     63
489     63
100     62
629     60
103     59
292     56
270     55
209     55
594     53
253     52
571     51
118     50
126     49
      ...
5        1
9        1
13       1
17       1
406      1
410      1
161      1
157      1
149      1
145      1
414      1
137      1
422      1
121      1
113      1
438      1
454      1
89       1
458      1
466      1
73       1
470      1
474      1
61       1
486      1
49       1
33       1
29       1
498      1
0        1
Name: location, Length: 631, dtype: int64

In [60]:
home_data["size"].value_counts()

2 BHK        3367
3 BHK        2983
4 BHK         321
1 BHK         312
4 Bedroom     184
3 Bedroom     116
5 Bedroom      16
2 Bedroom      15
1 RK            9
5 BHK           8
6 Bedroom       3
6 BHK           3
9 BHK           1
7 BHK           1
11 BHK          1
Name: size, dtype: int64

In [61]:
home_data["size"] = le.fit_transform(home_data["size"])

In [62]:
home_data["size"].value_counts()

3     3367
5     2983
7      321
0      312
8      184
6      116
10      16
4       15
1        9
9        8
11       3
12       3
14       1
2        1
13       1
Name: size, dtype: int64

In [63]:
home_data["total_sqft"].value_counts()

1200       172
1100       107
1000        78
1500        74
1300        71
1140        58
1400        54
1600        52
1450        50
1050        50
1350        49
1075        48
1255        46
1150        44
1550        44
1250        43
1800        41
1180        40
1260        36
950         36
1185        33
2400        33
900         33
1220        31
1125        31
1700        31
1160        31
1070        30
1650        30
1020        29
          ...
2282         1
1054         1
607          1
2185         1
1547         1
2095         1
1922         1
686          1
2302         1
934          1
966          1
1193         1
2625         1
2663         1
1701         1
1483         1
833          1
694          1
2526         1
2360         1
1448         1
1815         1
1020.07      1
1716         1
1651         1
1679         1
2462         1
492          1
3463         1
3362         1
Name: total_sqft, Length: 1541, dtype: int64

Selecting Prediction Target

In [64]:
y = home_data.price

Choosing Features

In [66]:
blr_features = ['area_type','location','size','total_sqft', 'bath', 'balcony',]

In [67]:
X = home_data[blr_features]

In [68]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
blr_model = DecisionTreeRegressor(random_state=1)

# Fit model
blr_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [70]:
print("Making predictions for the first 5 houses:")
print(X.head())
print("The predictions are")
print(blr_model.predict(X.head()))

Making predictions for the first 5 houses:
    area_type  location  size total_sqft  bath  balcony
0           3       208     3       1056   2.0      1.0
1           2       147     8       2600   5.0      3.0
3           3       384     5       1521   3.0      1.0
5           3       622     3       1170   2.0      1.0
11          2       622     8       2785   5.0      3.0
The predictions are
[ 39.07 120.    94.9   55.   295.  ]

Measuring accuracy

In [71]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = blr_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1.6330122417833453

Solving the in-sample conflict using splitting the dataset into two groups. (train data and test data)

In [72]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
blr_model = DecisionTreeRegressor()
# Fit model
blr_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = blr_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

25.692170517947087